.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
}
.loader-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
.loader-wrapper .loader-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-wrapper .loader-body .loader {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border-top: 4px solid #FF824C;
  -webkit-animation: loader 0.75s infinite;
          animation: loader 0.75s infinite;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
