@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);
@media (min-width: 1440px) {
  .container {
    max-width: 1240px !important;
  }
}
@media (min-width: 1640px) {
  .container {
    max-width: 1440px !important;
  }
}
@media (min-width: 1840px) {
  .container {
    max-width: 1640px !important;
  }
}
@media (min-width: 2040px) {
  .container {
    max-width: 1840px !important;
  }
}
@media (max-width: 2000px) {
  .col-xxl-rm {
    display: none;
  }
}

@media (max-width: 1400px) {
  .col-xl-rm {
    display: none;
  }
}

@media (max-width: 992px) {
  .col-lg-rm {
    display: none;
  }
}

@media (max-width: 768px) {
  .col-md-rm {
    display: none;
  }
}

@media (max-width: 576px) {
  .col-sm-rm {
    display: none;
  }
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}
body.scroll {
  overflow: hidden !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  color: #FF824C !important;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

.btn {
  background: #FF824C;
  padding: 8px 40px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
}
.btn.white {
  color: #000;
  background: #fff;
}
.btn :hover {
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav.main {
  padding: 10px 0;
  background: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav.main .branding h4 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: 8px;
}
nav.main .branding h4 a {
  color: #000;
}
@media (max-width: 992px) {
  nav.main .navigation .desktop {
    display: none;
  }
}
nav.main .navigation .desktop ul {
  display: flex;
  justify-content: end;
  justify-items: center;
  align-items: center;
  margin: 0 !important;
}
nav.main .navigation .desktop ul li {
  margin-left: 20px;
  font-weight: 500;
}
nav.main .navigation .desktop ul li.btn-nav {
  background: #FF824C;
  padding: 8px 20px;
  border-radius: 10px;
}
nav.main .navigation .desktop ul li.btn-nav a {
  color: #fff;
}
@media (min-width: 992px) {
  nav.main .navigation .hamburger {
    display: none;
  }
}
nav.main .navigation .hamburger .menu-wrapper {
  position: absolute;
  right: 40px;
  top: 20px;
  margin: auto;
  width: 25px;
  height: 17px;
  cursor: pointer;
  filter: brightness(0);
}
nav.main .navigation .hamburger .hamburger-menu,
nav.main .navigation .hamburger .hamburger-menu:after,
nav.main .navigation .hamburger .hamburger-menu:before {
  width: 25px;
  height: 3px;
}
nav.main .navigation .hamburger .hamburger-menu {
  position: relative;
  transform: translateY(7px);
  background: white;
  transition: all 0ms 300ms;
}
nav.main .navigation .hamburger .hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}
nav.main .navigation .hamburger .hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
nav.main .navigation .hamburger .hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
nav.main .navigation .hamburger .hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
nav.main .navigation .hamburger .hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

aside.mobile-nav {
  position: fixed;
  background: #fff;
  top: 0;
  left: 100vw;
  bottom: 0;
  right: 0;
  z-index: 80;
  display: none;
  transition: 0.5s ease-in-out;
  padding: 100px 20px;
  max-height: 100vh;
}
@media (min-width: 992px) {
  aside.mobile-nav {
    display: none;
  }
}
aside.mobile-nav img.background-img {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  right: -200px;
  transform: translateY(-50%);
}
@media (max-width: 653px) {
  aside.mobile-nav img.background-img {
    right: -300px;
  }
}
@media (max-width: 400px) {
  aside.mobile-nav img.background-img {
    right: -350px;
  }
}
@media (max-width: 315px) {
  aside.mobile-nav img.background-img {
    display: none;
  }
}
aside.mobile-nav.active {
  display: block;
  left: 0;
  -webkit-animation: mobile-fadein 0.5s;
          animation: mobile-fadein 0.5s;
}
@media (min-width: 992px) {
  aside.mobile-nav.active {
    display: none;
  }
}
aside.mobile-nav.active ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
aside.mobile-nav.active ul li {
  margin: 10px 0;
  font-weight: 500;
  font-size: 23px;
  transition: 0.3s;
}
aside.mobile-nav.active ul li.btn-nav {
  background: #FF824C;
  padding: 8px 20px;
  border-radius: 10px;
}
aside.mobile-nav.active ul li.btn-nav a {
  color: #fff;
}
aside.mobile-nav.active ul li.btn-nav a:hover {
  color: #fff;
}
aside.mobile-nav.active ul li a:hover {
  color: #FF824C;
}
aside.mobile-nav.active .copyright {
  padding-top: 30px;
  position: absolute;
  bottom: 20px;
}
aside.mobile-nav.active .copyright p {
  font-size: 15px;
  line-height: 2px;
  color: rgba(0, 0, 0, 0.7);
}

@-webkit-keyframes mobile-fadein {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes mobile-fadein {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}
footer {
  background: #263238;
  padding: 20px 0;
  color: #fff;
  position: relative;
}
footer h5 {
  padding-bottom: 10px;
}
footer p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 15px;
  font-weight: 600;
}
footer p.highlight {
  color: #fff !important;
}
footer a {
  color: #fff;
  transition: 0.2s;
}
footer a:hover {
  color: #fff !important;
}
@media (max-width: 768px) {
  footer .content {
    padding: 20px 0;
  }
}
footer .row-1 {
  height: 159px;
}
footer .row-1 a {
  text-decoration: underline;
}
footer .row-1 .copyright {
  padding-top: 30px;
}
footer .row-1 .copyright p {
  font-size: 15px;
  line-height: 2px;
}
@media (max-width: 768px) {
  footer .row-1 .copyright {
    position: absolute;
    bottom: 0;
  }
}
footer .row-2 {
  height: 159px;
  position: relative;
}
footer .row-2 ul {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  bottom: 4px;
}
footer .row-2 ul li {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
@media (max-width: 768px) {
  footer .row-2 {
    position: relative;
    top: -50px;
  }
}
footer .row-3 {
  position: relative;
  left: -100px;
  height: 159px;
}
@media (max-width: 1640px) {
  footer .row-3 {
    left: -50px;
  }
}
@media (max-width: 768px) {
  footer .row-3 {
    left: 0;
    margin: 0 0 40px !important;
    position: relative;
    top: -35px;
  }
}
footer .row-3 img {
  width: 25px;
  margin-bottom: 20px;
}
footer .row-3 p {
  font-size: 16px;
}
footer .row-3 p a {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
}
footer .row-3 p.under {
  position: absolute;
  bottom: -4px;
}

section.hero .row {
  height: calc(100vh - 64px);
}
section.hero .row .hero-content {
  max-width: 580px;
}
section.hero .row .hero-content p {
  color: #7E7E7E;
}
section.hero .hero_under {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
@media (max-height: 820px) {
  section.hero .hero_under {
    height: 30px;
  }
}
@media (max-width: 992px) {
  section.hero .image-holder-fix {
    display: none;
  }
}
section.hero img {
  max-width: 100%;
}

section.about {
  background: linear-gradient(180deg, #ff824c 0%, #f5af19 100%);
}
section.about .content {
  padding: 80px 0;
  color: #fff;
}
section.about .content p {
  max-width: 640px;
  padding: 10px 0 30px;
}
section.about .content.image {
  max-width: 100%;
}
section.about .content.image img {
  max-width: 100%;
}

section.services {
  padding: 30px 0;
}
section.services .intro-header {
  padding: 70px 0 40px;
}

section.cta {
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 120px 0;
  color: #fff;
}
section.cta .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #ff824c 0%, #f5af19 100%);
  opacity: 0.7;
  z-index: 0;
}
section.cta .cta-content {
  position: relative;
  z-index: 10;
}
section.cta .cta-content .btn {
  margin: 0;
}
