@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts/HelveticaNowText-Bold.eot');
  src: local('Helvetica Now Text  Bold'), local('HelveticaNowText-Bold'),
      url('../fonts/HelveticaNowText-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNowText-Bold.woff2') format('woff2'),
      url('../fonts/HelveticaNowText-Bold.woff') format('woff'),
      url('../fonts/HelveticaNowText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts/HelveticaNowText-Regular.eot');
  src: local('Helvetica Now Text  Regular'), local('HelveticaNowText-Regular'),
      url('../fonts/HelveticaNowText-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNowText-Regular.woff2') format('woff2'),
      url('../fonts/HelveticaNowText-Regular.woff') format('woff'),
      url('../fonts/HelveticaNowText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts/HelveticaNowText-Medium.eot');
  src: local('Helvetica Now Text  Medium'), local('HelveticaNowText-Medium'),
      url('../fonts/HelveticaNowText-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNowText-Medium.woff2') format('woff2'),
      url('../fonts/HelveticaNowText-Medium.woff') format('woff'),
      url('../fonts/HelveticaNowText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'Helvetica Now Text';
}
