.btn {
    background: $main;
    padding: 8px 40px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;

    &.white {
        color: #000;
        background: #fff;
    }

    :hover {
        color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
    }
}
