.btn {
    background: $main;
    padding: 8px 40px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;

    &:hover {
        color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
    }

    &.white {
        color: #000;
        background: #fff;

        &:hover {
            color: #000 !important;
        }
    }
    &.blue {
        background: rgb(40,103,178);
        color: #fff;

        &:hover {
            color: rgb(40,103,178);
            background: #fff;
        }
    }
    &.hollow {
        background: transparent !important;
        border: 3px solid #ffffff;
        transition: .3s ease-in-out;

        &:hover {
            background: #ffffff !important;
            color: #000000 !important;
        }
    }
    &.empty {
        background: transparent !important;
        color: #333;
        text-decoration: underline;
        border-radius: 0 !important;
        padding: 8px 20px;

        &:hover {
            box-shadow: none !important;

        }
    }
}
