section.cookies-popup {
    position: fixed;
    width: 100%;
    background: white;
    padding: 20px 0;
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    bottom: 0;
    left: 0;
    z-index: 80;

    p {
        margin: 0 !important;

        &.hidden {
            @media (max-width: 797px) {
                display: none;
            }
        }

        @media (max-width: 1645px) {
            font-size: 14px;
        }

        a {
            color: rgb(33, 37, 41)!important;
            transition: .3s;
            @media (max-width: 1645px) {
                font-size: 14px;
            }

            &:hover {
                color: $main !important;
            }
        }
    }


    &.hide {
        display: none !important;
    }
    .btn {
        margin: 0 0 0 0!important;
        @media (max-width: 991px) {
            margin-top: 10px !important;
        }
        @media (max-width: 500px) {
            font-size: 14px !important;
            padding: 6px 30px !important;
        }

        &.hidden {
            background: none !important;
            color: #a4a4a4;
            padding: 0 !important;
            margin: 8px 40px !important;
            @media (max-width: 991px) {
                padding: 10px 0 0 0 !important;
            }
            @media (max-width: 500px) {
                font-size: 14px !important;
                margin: 6px 30px !important;
                padding: 10px 0 0 0 !important;
            }
            &:hover {
                box-shadow: none !important;
            }
        }
    }
    .right {
        display: flex;
        align-items: flex-end;
        position: relative;

        .pos {
            position: absolute;
            @media (max-width: 991px) {
                position: inherit !important;
                transform: initial !important;
            }
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
