body,html {
    overflow-x: hidden !important;

    &.scroll {
        overflow: hidden !important;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    color: initial;
    text-decoration: none;
}
ul {
    list-style: none;
}
.main {
    color: $main !important;
}
main {
    min-height: calc(100vh - 60px);
}
ul {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.image-holder {
    box-shadow: 0 0 20px rgba(0,0,0,.25);
    position: relative;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

//scrollbar
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #ffffff;
}

html::-webkit-scrollbar-thumb {
    background: $main;
}

html {
    scrollbar-color: $main #ffffff;
    scrollbar-width: thin !important;
}
//end scrollbar


//whatsapp
.Bubble__NotificationBadge-sc-83hmjh-2 {
    display: none !important;
}
.Header__AnswerTime-sc-1y135nm-3 {
    p {
        font-size: 12px !important;
    }
}
.Window__Component-sc-17wvysh-0 {
    z-index: 79 !important;
}
//end whatsapp
