nav.main {
    padding: 10px 0;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: .4s;

    &.transparent {
        background: transparent !important;
        border-bottom: 1px solid #fff;
        transition: .3s ease-in-out;
        transition-delay: .5s;
        h4 {
            color: #ffffff !important;
            transition: .3s ease-in-out;
            transition-delay: .5s;
        }
        img {
            filter: brightness(100);
            transition: .3s ease-in-out;
            transition-delay: .5s;
        }
        .menu-wrapper {
            filter: brightness(1) !important;
            border-radius: 50%;
            transition: .3s ease-in-out;
            transition-delay: .5s;
            .hamburger-menu {
                &::before, &::after {
                    background: $main !important;
                    transition: .3s ease-in-out;
                    transition-delay: .5s;
                    @media (max-width: 600px) {
                        background: #fff !important;
                    }
                }
            }
        }
    }

    &.scroll {
        box-shadow: 0 0 10px rgba(0,0,0,.3);
    }

    .branding {
        h4 {
            font-size: 24px;
            font-weight: 800;
            position: relative;
            top: 5px;
            left: 5px;
        }
        img {
            height: 30px;
            width: 30px;
            position: relative;
            top: 5px;
        }

        a {
            color: #000;
            display: flex;
            width: 134px !important;
        }
    }

    .navigation {
        .desktop {
            @media (max-width: 992px) {
                display: none;
            }

            ul {
                display: flex;
                justify-content: flex-end;
                justify-items: center;
                align-items: center;
                margin: 0 !important;
                position: relative;
                top: 6px;

                li {
                    margin-left: 20px;
                    font-weight: 600;

                    a {
                        color: #000;

                        &:hover {
                            color: #000;
                        }
                    }

                    .btn-nav {
                        background: $main;
                        padding: 8px 20px;
                        border-radius: 20px;
                        color: #fff;

                        &:hover {
                            color: #fff;
                        }


                    }
                }
            }
        }

        .hamburger {

            $bar-width: 25px;
            $bar-height: 3px;
            $bar-spacing: 7px;

            @media (min-width: 992px) {
                display: none;
            }

            .menu-wrapper {
                position: absolute;
                right: 40px;
                top: 20px;
                margin: auto;
                width: $bar-width;
                height: $bar-height + $bar-spacing*2;
                cursor: pointer;
                filter: brightness(0);
            }

            .hamburger-menu,
            .hamburger-menu:after,
            .hamburger-menu:before {
                width: $bar-width;
                height: $bar-height;
            }

            .hamburger-menu {
                position: relative;
                transform: translateY($bar-spacing);
                background: rgba(255, 255, 255, 1);
                transition: all 0ms 300ms;

                &.animate {
                    background: rgba(255, 255, 255, 0);
                }
            }

            .hamburger-menu:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: $bar-spacing;
                background: rgba(255, 255, 255, 1);
                transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            .hamburger-menu:after {
                content: "";
                position: absolute;
                left: 0;
                top: $bar-spacing;
                background: rgba(255, 255, 255, 1);
                transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            .hamburger-menu.animate:after {
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
            }

            .hamburger-menu.animate:before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
            }
        }
    }
}

aside.mobile-nav {

    position: fixed;
    background: linear-gradient(90deg, rgba(255,130,76,1) 30%, rgba(255,255,255,1) 100%);
    @media (max-width: 600px) {
        background: $main;
    }
    top: 0;
    left: 100vw;
    bottom: 0;
    right: 0;
    z-index: 80;
    display: none;
    padding: 100px 20px;
    max-height: 100vh;
    animation: mobile-fadeout .5s;


    ul {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        li {
            margin: 10px 0;
            font-weight: 800;
            font-size: 40px;
            transition: .3s;

            a {
                color: #ffffff;
            }
        }
    }

    .copyright {
        padding-top: 30px;
        position: absolute;
        bottom: 20px;

        p {
            font-size: 15px;
            line-height: 2px;
            color: #f2f2f2;
        }
    }

    @media (min-width: 992px) {
        display: none;
    }

    &.opened {
        display: block !important;
    }

    &.active {
        display: block;
        left: 0;
        animation: mobile-fadein .5s;

        @media (min-width: 992px) {
            display: none;
        }
    }
}

.mobile-nav {
    img.background-img {
        display: none !important;
    }
}
.mobile-nav.active {
    display: block !important;
}

////animations
//menu fadein animatie
@keyframes mobile-fadein {
    0% {
        left: 100vw;
    }
    100% {
        left: 0;
    }
}

//menu fadein animatie
@keyframes mobile-fadeout {
    0% {
        left: 0;
    }
    100% {
        left: 100vw;
    }
}
//foto rechts animatie
@keyframes mr-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

