body.about {
    section.about {
        padding: 120px 0 60px;

        .image-holder {
            height: 600px;
            width: 90%;
            margin: 0 auto;
        }
    }
    section.team {
        padding: 60px 0;
        @media (max-width: 767px) {
            padding: 0 0 60px;
        }
        .team-row {
            padding: 20px 0;
        }

        .member {
            h5 {
                margin: 10px 0 0;
            }
            .image-holder {
                a {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    img {
                        object-fit: initial;
                        height: 30px;
                    }
                }
            }
        }
    }
}
