section.blog-posts {
    padding: 50px 0;

    h2 {
        margin-bottom: 20px;
    }
    a {
        &:hover {
            color: #000000;
        }
    }
    .blog_item {
        margin-bottom: 30px;
        border-radius: 15px;
        overflow: hidden;
        background: #ffffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        height: calc(100% - 30px);
        .blog_item--header {
            width: 100%;
            height: 250px;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }
        .blog_item--body {
            padding: 20px;
            h3 {
                font-weight: 800;
                overflow: hidden;
                font-size: 30px;
                text-overflow: ellipsiss;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .divider {
                height: 6px;
                width: 100px;
                background: $main;
                border-radius: 999px;
                margin-bottom: 20px;
            }
            p {
                overflow: hidden;
                text-overflow: ellipsiss;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
    }
}
body.blog-post {
    section.subhero {
        .overlay {
            opacity: 0.8;
            width: 60%;
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0) 100%
            );
            @media (max-width: 991px) {
                width: 100%;
                background: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(0, 0, 0, 1) 100%
                );
                opacity: 0.5;
            }
        }
    }
    section.blog_post {
        padding: 50px 0;

        @media (min-width: 1840px) {
            .container {
                max-width: 1240px !important;
            }
        }
        @media (min-width: 2040px) {
            .container {
                max-width: 1240px !important;
            }
        }

        h3 {
            margin-top: 60px;
            font-weight: 800 !important;
            &:nth-child(1) {
                margin-top: 0 !important;
            }
        }
        p {
            color: #474747 !important;
        }
        img {
            margin: 0 0 20px;
            border-radius: 5px !important;
        }
        ul {
            list-style: inherit;
            margin-left: 20px;
            margin-bottom: 20px;
            li {
                color: #474747 !important;
            }
        }
        a {
            text-decoration: underline;
            transition: 0.4s ease-in-out;

            &:hover {
                color: $main;
            }
        }
    }
}
