section.cta {
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    color: #fff;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(255,130,76,1) 0%, rgba(245,175,25,1) 100%);
        opacity: .7;
        z-index: 0;
    }

    .cta-content {
        position: relative;
        z-index: 10;

        .btn {
            margin: 0;
        }
    }
}
