body.home {
    section.about {
        background: linear-gradient(
            180deg,
            rgba(255, 130, 76, 1) 0%,
            rgba(245, 175, 25, 1) 100%
        );

        .content {
            padding: 80px 0;
            color: #fff;

            p {
                max-width: 640px;
                padding: 10px 0 30px;
            }

            &.image {
                max-width: 100%;

                img {
                    max-width: 100%;
                }
            }
        }
    }

    section.services {
        padding: 50px 0;

        .section-intro {
            p {
                color: rgba(0, 0, 0, 0.7);
            }
        }

        .card-parent {
            @media (max-width: 1399px) {
                margin: 20px 0;
            }
        }

        .card {
            background: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            margin: 0 15px;
            border: none;
            outline: none;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            @media (max-width: 2055px) {
                margin: 0;
            }
            @media (max-width: 1399px) {
                margin: 0 15px;
            }
            border-radius: 8px;
            height: 100%;

            .card_title {
                position: relative;
                padding: 50px 25px;

                h3 {
                    font-weight: 800;
                    position: relative;
                    z-index: 2;
                    color: #ffffff;
                    transition: 0.3s ease-in-out;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                    filter: brightness(0.3);
                    transition: 0.3s ease-in-out;
                }
            }

            .card_content {
                padding: 30px 25px 90px;

                p {
                    min-height: 135px;
                }

                ul {
                    list-style: inherit;
                    margin-left: 20px;

                    li {
                        color: $lightgrey;
                    }
                }

                .btn {
                    position: absolute;
                    bottom: 25px;
                    left: 30px;
                }
            }

            &:hover {
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.55);
            }
        }

        .disclaimer-parent {
            margin: 20px 30px;

            p.disclaimer {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.25);
                line-height: 15px;
                margin: 4px 0;
            }
        }

        .divider-under {
            height: 5px;
            width: 60%;
            background: #f3f3f3;
            border-radius: 5px;
            margin: 50px auto 20px;
            @media (max-width: 1160px) {
                margin: 30px 0 0;
            }
            @media (max-width: 1100px) {
                width: 90%;
            }
        }
    }
}
