body.sitemap {

    section.sitemap {
        padding: 50px 0;
        a {
            padding: 10px 20px;
            width: 350px;
            max-width: 100%;
            display: block;
            margin: 10px 0;
            background: #7E7E7E;
            color: #fff;
            border-radius: 5px;
        }
    }
}
