body.voorwaarden {

    section.voorwaarden {
        a {
            position: relative;
            top: 10px;
            img {
                height: 25px;
                width: 25px;
                margin-right: 10px;
                position: relative;
                top: -1px;
            }
        }
    }
}
